/*!
 * Scroll control styles
 */

.scroll-control {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	color: var(--body-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scroll-control span {
	font-size: 0.875rem;
	margin-top: 0.5rem;
}
